[submodule "Workspace/git/cassandra"]
	path = Workspace/git/cassandra
	url = git://git.apache.org/cassandra.git
[submodule "Workspace/git/nickmbailey.com"]
	path = Workspace/git/nickmbailey.com
	url = git@github.com:nickmbailey/nickmbailey.com.git
[submodule "Workspace/git/pycassa"]
	path = Workspace/git/pycassa
	url = http://github.com/pycassa/pycassa.git
[submodule "Workspace/git/telephus"]
	path = Workspace/git/telephus
	url = http://github.com/driftx/Telephus.git
[submodule "Workspace/git/vmail"]
	path = Workspace/git/vmail
	url = git@github.com:nickmbailey/vmail.git
[submodule "Workspace/git/hector"]
	path = Workspace/git/hector
	url = https://github.com/rantav/hector.git
[submodule "Workspace/git/brisk"]
	path = Workspace/git/brisk
	url = git@github.com:riptano/brisk.git
