# ignore vim stuff
*.swp
.viminfo

# ignore mac stuff
.MacOSX
.DS_Store
.localized

# ignore subversion stuff
.svn
.subversion

# ignore trash files
.Trash

# bash stuff
.bash_history

# jungledisk
.junglediskinstance

# don't want to share ssh
.ssh

# don't want to share all my wordpress stuff
wp-config.php

# dropbox
.dropbox
Dropbox

# ivy
.ivy2

# printer
.cups

