[user]
	name = Nick Bailey
	email = nickmbailey@gmail.com
[core]
	excludesfile = ~/.gitignore
    whitespace = blank-at-eol,tab-in-indent,blank-at-eof,tabwidth=4
    editor = vim

[color]
	ui = auto

[branch]
    autosetuprebase = always
