[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = http://github.com/msanders/snipmate.vim.git
[submodule "Workspace/git/cassandra"]
	path = Workspace/git/cassandra
	url = git://git.apache.org/cassandra.git
