# ignore vim stuff
.swp
.viminfo
*.un~

# ignore mac stuff
.MacOSX
.DS_Store
.localized

# version control
.svn
.subversion
.cvspass

# font config (I think gnuplot made this)?
.fontconfig

# ignore trash files
.Trash

# history files
.bash_history
.gnuplot_history
.lesshst

# jungledisk
.junglediskinstance

# don't want to share ssh
.ssh

# don't want to share all my wordpress stuff
wp-config.php

# dropbox
.dropbox
Dropbox

# ivy
.ivy2

# printer
.cups

# X11 cookie file
.Xauthority
