#generic
.aptitude
.bash_logout
.bashrc
.htoprc

# ignore vim stuff
.swp
.viminfo
*.un~
*.netrwhist

# ignore mac stuff
.MacOSX
.DS_Store
.localized
.CFUserTextEncoding
.fonts

# version control
.svn
.subversion
.cvspass

# font config (I think gnuplot made this)?
.fontconfig

# ignore trash files
.Trash

# history files
.bash_history
.gnuplot_history
.lesshst
.hivehistory
.jline-clojure.main.history
.pig_history

# jungledisk
.junglediskinstance

# don't want to share ssh
.ssh

# don't want to share all my wordpress stuff
wp-config.php

# dropbox
.dropbox
Dropbox

# ivy and maven
.ivy2
.m2

# printer
.cups

# X11 cookie file
.Xauthority

# latex
.log

# cassandra
.automaton*
.ccm
.clusterlauncher*
.cassandra.history
.cqlsh_history

# rpmstuff
*rpmbuild/SOURCES/*
*rpmbuild/BUILD/*
*rpmbuild/RPMS/*
*rpmbuild/SRPMS/*

# vmail
vmail-contacts.txt
vmail.log
.vmailrc*
vmailbuffer
current_message.txt

# ruby
.gem
.bundler
.rvm

#python
.python-eggs
.pip

#clojure
.lein

#android
.android

doc/tags
.rnd

#gdb
.gdb_history

#httpie
.httpie

#intellij
.idea

#lighttable
.lighttable

#vagrant
.vagrant.d

# wine
.local
